* {
    margin: 0px;
    padding: 0px;
}
.border {
    border: 2px solid black;
}
.left {
    width: 25vw;
    padding: 10px;
}
.right {
    width: 75vw;
}
.home ul li{
  width: 14px;
  display: flex;
  gap: 15px;
  list-style: none;
  padding-top: 14px;
}
.bg-black {
    background-color: black;
    color: white;
}
